.mobileDataTopic{
    display: none !important ;
}
.advanceFilterBtn{
    padding:4px;
     min-height:24px;
    margin-bottom: 5px;
}
.w-50pr{
    width: 50%;
}
.h-40{
    max-height: 40px;
}
.backgroundWhitee{
    background-color: #eaeaea !important;
}

@media (max-width: 768px) {
    .mobileDataTopic{
        display: block !important;
    }
    .dateTopicBox{
padding: 0px;
    }

    .changeCal{
        flex-direction: column !important;
    }
    .moblieCal{
    font-size: 10px;
    margin-bottom: -30px;
    margin-right: -15px;
}
.advanceFilterBtn{
    padding:4px;
    min-height:24px;
    margin-bottom: 5px;
    margin-right: -60px;
}
    .advanceFilter{
        font-size: 12px !important;
    }
    .dateTopic{
        display: none !important;
    }
    .cardCal{
        max-height:169px ;
        overflow: hidden;
    }
    .imgcal{
        width: 106px;
        max-height: 106px !important; }
    .logoImgFromTop {
        top: -20px;
    }
}
